<option value=""> </option>
<option data-size="36000x36000" value="/maps/wows/ocean.jpg"><%=l("Ocean")%></option>
<option data-size="48000x48000" value="/maps/wows/sleeping_giant.jpg"><%=l("Sleeping Giant")%></option>
