
.conquerorsblade-icon-set2 {
  background-image: url('conquerorsblade-icon-set2.png');
}

.conquerorsblade-icon-set2-balista-de-asedio {
  background-position: -0px -0px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-balista-de-asedio-legendario {
  background-position: -0px -40px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-balista-inmejorable {
  background-position: -0px -80px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-canon-inmejorable {
  background-position: -0px -120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-canon-metralla-inmejorable {
  background-position: -0px -160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-catapulta {
  background-position: -0px -200px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-cometa-llameante {
  background-position: -0px -240px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-cometa-llameante-legendario {
  background-position: -0px -280px;
  width: 40px;
  height: 40px;
}


.conquerorsblade-icon-set2-culebrina-inmejorable {
  background-position: -0px -320px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-escorpion-inmejorable {
  background-position: -0px -360px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-hwacha-inmejorable {
  background-position: -0px -400px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-mortero-inmejorable {
  background-position: -0px -440px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-proyectiles-de-guerra {
  background-position: -0px -480px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-proyectiles-de-guerra-legendario {
  background-position: -0px -520px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-trabuquete {
  background-position: -0px -560px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-torre-de-asedio {
  background-position: -0px -600px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set2-bombarda {
  background-position: -0px -640px;
  width: 40px;
  height: 40px;
}
