
.conquerorsblade-icon-set1 {
  background-image: url('conquerorsblade-icon-set1.png');
}

.conquerorsblade-icon-set1-arqueros_montados_yelmo_de_hierro {
  background-position: -0px -0px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros_namkham {
  background-position: -0px -40px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros_vasallos {
  background-position: -0px -80px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-artilleros_falconeti {
  background-position: -0px -120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-ballesteros_con_paves {
  background-position: -0px -160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-ballesteros_montados {
  background-position: -0px -200px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria_selemchid {
  background-position: -0px -240px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria_khevtuul {
  background-position: -0px -280px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria_pesada_de_preceptura {
  background-position: -0px -320px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria_yelmo_de_hierro {
  background-position: -0px -260px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeros_monasticos {
  background-position: -0px -300px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-condotieros {
  background-position: -0px -340px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-coustilleux {
  background-position: -0px -380px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-escuderos {
  background-position: -0px -420px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-fusileros_kriegsrat {
  background-position: -0px -460px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-guardas_de_palacio {
  background-position: -0px -500px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-guardas_de_prefectura {
  background-position: -0px -540px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-hombres_de_armas {
  background-position: -0px -580px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-husares_alados {
  background-position: -0px -620px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-jabalineros_imperiales {
  background-position: -0px -680px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-keshigs {
  background-position: -0px -720px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-khorchins {
  background-position: -0px -760px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros_con_hacha_daga {
  background-position: -0px -800px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros_de_catafracto {
  background-position: -0px -840px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros_de_fuego {
  background-position: -0px -880px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros_de_senorio {
  background-position: -0px -920px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros_imperiales {
  background-position: -0px -960px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-martellatori {
  background-position: -0px -1000px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-sargentos_alabarderos {
  background-position: -0px -1040px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-sargentos_jabalineros {
  background-position: -0px -2080px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-sargentos_lanceros {
  background-position: -0px -2120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-segadores_de_hierro {
  background-position: -0px -2160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-siervos {
  background-position: -0px -2200px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-tiradores_con_chu_ko_nu {
  background-position: -0px -2240px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-tseregs {
  background-position: -0px -2280px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-yeomen {
  background-position: -0px -2320px;
  width: 40px;
  height: 40px;
}
