
.conquerorsblade-icon-set1 {
  background-image: url('conquerorsblade-icon-set1.png');
}

.conquerorsblade-icon-set1-alabarderos {
  background-position: -0px -0px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arbalesteros-de-senorio {
  background-position: -0px -40px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arcabuceros-de-tercio {
  background-position: -0px -80px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arcabuceros-imperiales {
  background-position: -0px -120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros-de-fuego {
  background-position: -0px -160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros-del-dragon-negro {
  background-position: -0px -200px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros-imperiales {
  background-position: -0px -240px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros-montados-yelmo-de-hierro {
  background-position: -0px -280px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros-namkham {
  background-position: -0px -320px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-arqueros-vasallos {
  background-position: -0px -360px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-artilleros-falconeti {
  background-position: -0px -400px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-ballesteros-con-paves {
  background-position: -0px -440px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-ballesteros-montados {
  background-position: -0px -480px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria-selemchid {
  background-position: -0px -520px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria-khevtuul {
  background-position: -0px -560px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria-pesada-de-prefectura {
  background-position: -0px -600px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeria-yelmo-de-hierro {
  background-position: -0px -640px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-caballeros-monasticos {
  background-position: -0px -680px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-condotieros {
  background-position: -0px -720px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-coustilleux {
  background-position: -0px -760px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-escuderos {
  background-position: -0px -800px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-fusileros-kriegsrat {
  background-position: -0px -840px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-guardas-de-palacio {
  background-position: -0px -880px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-guardas-de-prefectura {
  background-position: -0px -920px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-hombres-de-armas {
  background-position: -0px -960px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-husares-alados {
  background-position: -0px -1000px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-jabalineros-imperiales {
  background-position: -0px -1040px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-keshigs {
  background-position: -0px -1080px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-khorchins {
  background-position: -0px -1120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros-con-hacha-daga {
  background-position: -0px -1160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros-de-catafracto {
  background-position: -0px -1200px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros-de-fuego {
  background-position: -0px -1240px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros-de-senorio {
  background-position: -0px -1280px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-lanceros-imperiales {
  background-position: -0px -1320px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-martellatori {
  background-position: -0px -1360px;
  width: 40px;
  height: 40px;
}


.conquerorsblade-icon-set1-piqueros-fortebraccio {
  background-position: -0px -1400px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-piqueros-imperiales {
  background-position: -0px -1440px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-piqueros-milicianos {
  background-position: -0px -1480px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-sargentos-alabarderos {
  background-position: -0px -1520px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-sargentos-jabalineros {
  background-position: -0px -1560px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-sargentos-lanceros {
  background-position: -0px -1600px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-segadores-de-hierro {
  background-position: -0px -1640px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-siervos {
  background-position: -0px -1680px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-tiradores-con-chu-ko-nu {
  background-position: -0px -1720px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-tseregs {
  background-position: -0px -1760px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-yeomen {
  background-position: -0px -1800px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-jenizaros {
  background-position: -0px -1840px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-azaps {
  background-position: -0px -1880px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-shiladars {
  background-position: -0px -1920px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-cipayos {
  background-position: -0px -1960px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-milicia-de-zykalia {
  background-position: -0px -2000px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-proselitos-simaquios {
  background-position: -0px -2040px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-paladines-simaquios {
  background-position: -0px -2080px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-siphonarioi {
  background-position: -0px -2120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-berserkers {
  background-position: -0px -2160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set1-doncellas {
  background-position: -0px -2200px;
  width: 40px;
  height: 40px;
}
