
.conquerorsblade-icon-set3 {
  background-image: url('conquerorsblade-icon-set3.png');
}

.conquerorsblade-icon-set3-arco-corto {
  background-position: -0px -0px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-arco-largo {
  background-position: -0px -40px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-asesino {
  background-position: -0px -80px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-espada-corta {
  background-position: -0px -120px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-espada-larga {
  background-position: -0px -160px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-guja {
  background-position: -0px -200px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-hacha-de-petos {
  background-position: -0px -240px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-lanza {
  background-position: -0px -280px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-mazo-de-guerra {
  background-position: -0px -320px;
  width: 40px;
  height: 40px;
}

.conquerorsblade-icon-set3-trabuquete {
  background-position: -0px -360px;
  width: 40px;
  height: 40px;
}
